* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
body{
	overflow-x: hidden;
}
#scroll__web {
   
}
.container{
    position: relative;
	width: 1920px;
	height: 4477px;
	background: linear-gradient(323.1deg, rgba(255,255,255,1) 0%, rgba(83,83,83,1) 100%);
	overflow: hidden;
}

.logo__front{
	position: absolute;
	align-items: center;
	
	padding: 250px 550px;
	height: 100px;
	width: 8px;
	
}
.logo__bg{
	position: absolute;
	align-items: center;
	padding: 80px 400px;
	height: 50px;
	width: 100px;
}
.menu_stroke{
	width:40px;
	height: 3px;
	background-color: white;
	margin: 6px 50px;
}

#logo{
	height: 200px;
	
}
#bg{
	height: 500px;
	
}

.stroke{
	height: 700px;
	width:4px;
	border-radius: 5px;
	border-color: rgb(88, 47, 47);
	filter: drop-shadow(2px 2px 6px rgb(48, 47, 47));
	margin: 290px 50px;
	background-color: white;
	float: left;
}
.media{
	margin:500px 700px;
	float: right;
}
/*social section*/
.social {
    
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 6vh;
	margin: 6px;
    
    
}

.social__items {
    position:relative;
    display: flex;
}

.social__items li {
    list-style:none;
}

/*.social__items li::before {
    content: attr(data-text);
    position: absolute;
    top: 8%;
    left: 8%;
    transform: translate(100%,100%);
    font-size: 9vh;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;

}

.social__items li:hover::before{
    opacity: 0.2;
    transform: translate(-90px,calc(-50% + 200px));
}*/

.social__items li a {
    position:relative;
    display: flex;
    width: 7vh;
    height: 7vh;
    background: linear-gradient(323.1deg, rgba(255,255,255,0.2) 0%, rgba(83,83,83,1) 100%);;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px;
    font-size: 1rem;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 2px 2px 6px rgb(48, 47, 47);
	opacity: 60%;
    
}

.social__items li a .fa {
    transition: 0.25s;
    pointer-events: none;
}

.social__items li a:hover .fa {
    color: #2241f1;
}


/*nav*/

.nav__container{
    
    margin: 700px 70px;
    display:flex;
    justify-content: space-between;
    z-index: 1;       
    max-width: 1300px;
    padding:0 0;
   
    
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}
li{
    height: 80px;
}


a {
    color:#fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 80px;
    transition:all 0.3 ease;

}



